<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Creat a User</h1>
    <form action="/process_form" method="POST">
        {% csrf_token %}
        <p>Username: <input type="text" name="username"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="text" name="password"></p>
        <button type="submit">Submit</button>
    </form>

    <p>Fav num: {{request.session.fav_num}}</p>
</body>
</html>